.cardChatStyle{
    box-shadow: 0 4px 15px 0 #07224233;
    border-radius: 3.25rem;   
    margin: 0 auto;
    margin-top: 5%; 
    padding: 0.2rem;
}

.cardChat{
    /* border-style: ridge; */
    /* border-color: #2e2d2d2f; */

}

.cardChatStyle h3{
    margin: 0 auto;
    padding: 0.5rem;
}

.cardHeader{
    background-color: #f9f9f9 !important;
}

.cardHeader span{
    float: right;
    margin-top: -2.3rem;
}

.contentChat{
    background-color: #d3d3d31c;
    height: 25rem;
    overflow-y: scroll;

}

.contentTypeChat{
    height: 3rem;
}

.cardChatFooter{
    background-color: #f9f9f9 !important;
    height: 5rem !important;
    
}

.inputChat{
    height: 4rem !important;
}



.incoming_msg {
    margin: 25px 0 26px;
}

.received_msg {
    background: #94999c;
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 70%;
}

.outgoing_msg{ 
    overflow:hidden; 
    margin:26px 0 26px;
}

.sent_msg {
    float: right;
    width: 46%;
  }

.sent_msg p {
    background: #0683f8 none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
}